<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- Activation de la détection des annotation Spring dans le package ca.crim.horcs.server -->
	<context:component-scan base-package="ca.crim.horcs.server" />

	<context:property-placeholder location="classpath:server.properties" />

	<bean id="password" class="java.lang.String">
		<constructor-arg value="${horcs.server.password}" />
	</bean>
	<bean id="salt" class="java.lang.String">
		<constructor-arg value="${horcs.server.salt}" />
	</bean>
	<bean id="hash" class="java.lang.String">
		<constructor-arg value="${horcs.server.hash}" />
	</bean>
</beans>
