<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:component-scan base-package="ca.jp.secproj" />
	<context:property-placeholder
		location="classpath:ca/jp/secproj/global.properties" />

	<bean id="logFactory" class="ca.jp.secproj.utils.log.LoggerBeanFactoryPostProcessor" />

	<bean id="serverURL" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.url}" />
	</bean>
	
	<bean id="serverId" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.id}" />
	</bean>

	<bean id="jPakePath" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.jpakepath}" />
	</bean>

	<bean id="oraclePath" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.oraclepath}" />
	</bean>

	<bean id="stdAuthPath" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.stdauthpath}" />
	</bean>
	
	<bean id="ffsPath" class="java.lang.String">
		<constructor-arg value="${ca.jp.secproj.server.ffspath}" />
	</bean>

	<bean id="jerseyClientFactory" class="ca.jp.secproj.utils.net.JerseyClientFactory">
		<property name="enforceSecureConnection" value="${ca.jp.secproj.client.enforcesecure}" />
	</bean>

	<bean id="jerseyClient" class="com.sun.jersey.api.client.Client"
		factory-bean="jerseyClientFactory" factory-method="makeJerseyClient" />

</beans>
